<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}

        <ul>
        {% for pizza in pizzas %}
            <li>{{ pizza }}</li>
        {% endfor %}
        </ul>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
