{# HEADER / FOOTER #}
{% extends 'base.html.twig' %}

{# Title Page #}
{% block title %}
  Inscription
{% endblock %}

{# CSS : Individual Page #}
{% block stylesheets %}{% endblock %}

{# JS : Individual Page #}
{% block javascripts %}{% endblock %}

{# BODY : Individual Page #}
{% block body %}

<main>
  ok
</main>

{% endblock %}
